 <!DOCTYPE html>
<html>
   <head>
      <link href="jumbotron-narrow.css" rel="stylesheet">
      <link href="//bootstrap-3.ru/dist/css/bootstrap.min.css" rel="stylesheet">
      <meta charset="utf-8">
      <title>Заказ питания ученикам "Интеллектуала" - Главная</title>
   </head>
   <body>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	   
	   <style>
		   .hidden {
		   		display: none;
		   }
	   </style>
	   
      <div class=" container" style="width: 760px;">
      <div class="header" style="width: 760px;">
         <nav>
            <ul class="nav nav-pills pull-right">
               <li role="presentation" class="active">
                   <a href="#">Главная</a>
               </li>
               <li role="presentation">
                    <a href="#">Справка</a>
               </li>
               <li role="presentation">
                   <a href="#">Контакты</a>
               </li>
               <li role="presentation">
                   <a href = "#">Выход</a>
               </li>
            </ul>
         </nav>
         <h3 class="text-muted" style="width: 760px;">Заказ пакетов питания </h3>
         <hr>
         <br>
         <h5><%= Name %></h5>
         <h4><%= OrderForDates %></h4>
         <h4><%= DeadlineOfOrder %></h4>
      </div>
      <div class=" container" style="width: 760px;" >
            <div class="header" style="width: 760px;" >
                <nav>
                    <ul class="nav nav-pills ">
                        <li role="presentation" id="allWeek" class="menu active">
                            <a>Неделя</a>
                        </li>
                        <li role="presentation" id="monday" class="menu">
                            <a>Понедельник</a>
                        </li>
                        <li role="presentation" id="tuesday" class="menu">
                            <a>Вторник</a>
                        </li>
                        <li role="presentation" id="wednesday" class="menu">
                            <a>Среда</a>
                        </li>
                        <li role="presentation" id="thursday" class="menu">
                            <a>Четверг</a>
                        </li>
                        <li role="presentation" id="friday" class="menu">
                            <a>Пятница</a>
                        </li>
                        <li role="presentation" id="saturday" class="menu">
                            <a>Суббота</a>
                        </li>
                    </ul>
                </nav>
          </div>
          <table class="table table-striped" style="width: 760px;">
              <thead>
                  <tr class="tableHeader">
                    <th>Номер пакета</th>
                      <th>Состав пакета</th>
                      <th>Цена пакета</th>
                      <th style="width: 100px;">Выбрать</th>
                  </tr>
              </thead>
              <tbody>
				  <tr class="allWeek_offer" id="allWeekPack1">
                      <td>Пакет 1</td>
                      <td>Завтрак, второй завтрак, обед, полдник и ужин</td>
                      <td><%= Price1 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="0" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="allWeek_offer" id="allWeekPack2">
                      <td>Пакет 2</td>
                      <td>Завтрак</td>
                      <td><%= Price2 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="1" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="allWeek_offer" id="allWeekPack3">
                      <td>Пакет 3</td>
                      <td>Ужин</td>
                      <td><%= Price3 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="2" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="allWeek_offer" id="allWeekPack4">
                      <td>Пакет 4</td>
                      <td>Второй завтрак, обед, полдник, ужин</td>
                      <td><%= Price4 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input name="choose" value="3" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="allWeek_offer" id="allWeekPack5">
                      <td>Пакет 5</td>
                      <td>Второй завтрак, обед, полдник </td>
                      <td><%= Price5 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="4" name="choose" type="radio" form="mainform"> </div>
                      </td>
                  </tr>
                  <tr class="allWeek_offer" id="allWeekPack6">
                      <td>Пакет 6</td>
                      <td>Второй завтрак, обед</td>
                      <td><%= Price6 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="5" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="allWeek_offer" id="allWeekPack7">
                      <td>Пакет 7</td>
                      <td>Второй завтрак</td>
                      <td><%= Price7 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="6" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="allWeek_offer" id="allWeekPack8">
                      <td>Пакет 8</td>
                      <td>Обед</td>
                      <td><%= Price8 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="7" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="allWeek_offer" id="allWeekPack9">
                      <td>Пакет 9</td>
                      <td>Обед</td>
                      <td><%= Price9 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="8" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="allWeek_offer" id="allWeekPack10">
                      <td>Пакет 10</td>
                      <td>Полдник</td>
                      <td><%= Price10 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="9" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
				  <tr class="monday_offer hidden" id="mondayPack1">
                      <td>Пакет 1</td>
                      <td>Завтрак, второй завтрак, обед, полдник и ужин</td>
                      <td><%= Price1 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="10" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="monday_offer hidden" id="mondayPack2">
                      <td>Пакет 2</td>
                      <td>Завтрак</td>
                      <td><%= Price2 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="11" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="monday_offer hidden" id="mondayPack3">
                      <td>Пакет 3</td>
                      <td>Ужин</td>
                      <td><%= Price3 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="12" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="monday_offer hidden" id="mondayPack4">
                      <td>Пакет 4</td>
                      <td>Второй завтрак, обед, полдник, ужин</td>
                      <td><%= Price4 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input name="choose" value="13" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="monday_offer hidden" id="mondayPack5">
                      <td>Пакет 5</td>
                      <td>Второй завтрак, обед, полдник </td>
                      <td><%= Price5 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="14" name="choose" type="radio" form="mainform"> </div>
                      </td>
                  </tr>
                  <tr class="monday_offer hidden" id="mondayPack6">
                      <td>Пакет 6</td>
                      <td>Второй завтрак, обед</td>
                      <td><%= Price6 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="15" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="monday_offer hidden" id="mondayPack7">
                      <td>Пакет 7</td>
                      <td>Второй завтрак</td>
                      <td><%= Price7 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="16" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="monday_offer hidden" id="mondayPack8">
                      <td>Пакет 8</td>
                      <td>Обед</td>
                      <td><%= Price8 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="17" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="monday_offer hidden" id="mondayPack9">
                      <td>Пакет 9</td>
                      <td>Обед</td>
                      <td><%= Price9 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="18" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="monday_offer hidden" id="mondayPack10">
                      <td>Пакет 10</td>
                      <td>Полдник</td>
                      <td><%= Price10 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="19" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
				  <tr class="tuesday_offer hidden" id="tuesdayPack1">
                      <td>Пакет 1</td>
                      <td>Завтрак, второй завтрак, обед, полдник и ужин</td>
                      <td><%= Price1 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="20" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="tuesday_offer hidden" id="tuesdayPack2">
                      <td>Пакет 2</td>
                      <td>Завтрак</td>
                      <td><%= Price2 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="21" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="tuesday_offer hidden" id="tuesdayPack3">
                      <td>Пакет 3</td>
                      <td>Ужин</td>
                      <td><%= Price3 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="22" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="tuesday_offer hidden" id="tuesdayPack4">
                      <td>Пакет 4</td>
                      <td>Второй завтрак, обед, полдник, ужин</td>
                      <td><%= Price4 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input name="choose" value="23" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="tuesday_offer hidden" id="tuesdayPack5">
                      <td>Пакет 5</td>
                      <td>Второй завтрак, обед, полдник </td>
                      <td><%= Price5 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="24" name="choose" type="radio" form="mainform"> </div>
                      </td>
                  </tr>
                  <tr class="tuesday_offer hidden" id="tuesdayPack6">
                      <td>Пакет 6</td>
                      <td>Второй завтрак, обед</td>
                      <td><%= Price6 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="25" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="tuesday_offer hidden" id="tuesdayPack7">
                      <td>Пакет 7</td>
                      <td>Второй завтрак</td>
                      <td><%= Price7 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="26" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="tuesday_offer hidden" id="tuesdayPack8">
                      <td>Пакет 8</td>
                      <td>Обед</td>
                      <td><%= Price8 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="27" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="tuesday_offer hidden" id="tuesdayPack9">
                      <td>Пакет 9</td>
                      <td>Обед</td>
                      <td><%= Price9 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="28" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="tuesday_offer hidden" id="tuesdayPack10">
                      <td>Пакет 10</td>
                      <td>Полдник</td>
                      <td><%= Price10 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="29" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
				  <tr class="wednesday_offer hidden" id="wednesdayPack1">
                      <td>Пакет 1</td>
                      <td>Завтрак, второй завтрак, обед, полдник и ужин</td>
                      <td><%= Price1 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="30" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="wednesday_offer hidden" id="wednesdayPack2">
                      <td>Пакет 2</td>
                      <td>Завтрак</td>
                      <td><%= Price2 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="31" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="wednesday_offer hidden" id="wednesdayPack3">
                      <td>Пакет 3</td>
                      <td>Ужин</td>
                      <td><%= Price3 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="32" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="wednesday_offer hidden" id="wednesdayPack4">
                      <td>Пакет 4</td>
                      <td>Второй завтрак, обед, полдник, ужин</td>
                      <td><%= Price4 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input name="choose" value="33" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="wednesday_offer hidden" id="wednesdayPack5">
                      <td>Пакет 5</td>
                      <td>Второй завтрак, обед, полдник </td>
                      <td><%= Price5 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="34" name="choose" type="radio" form="mainform"> </div>
                      </td>
                  </tr>
                  <tr class="wednesday_offer hidden" id="wednesdayPack6">
                      <td>Пакет 6</td>
                      <td>Второй завтрак, обед</td>
                      <td><%= Price6 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="35" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="wednesday_offer hidden" id="wednesdayPack7">
                      <td>Пакет 7</td>
                      <td>Второй завтрак</td>
                      <td><%= Price7 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="36" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="wednesday_offer hidden" id="wednesdayPack8">
                      <td>Пакет 8</td>
                      <td>Обед</td>
                      <td><%= Price8 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="37" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="wednesday_offer hidden" id="wednesdayPack9">
                      <td>Пакет 9</td>
                      <td>Обед</td>
                      <td><%= Price9 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="38" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="wednesday_offer hidden" id="wednesdayPack10">
                      <td>Пакет 10</td>
                      <td>Полдник</td>
                      <td><%= Price10 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="39" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
				  <tr class="thursday_offer hidden" id="thursdayPack1">
                      <td>Пакет 1</td>
                      <td>Завтрак, второй завтрак, обед, полдник и ужин</td>
                      <td><%= Price1 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="40" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="thursday_offer hidden" id="thursdayPack2">
                      <td>Пакет 2</td>
                      <td>Завтрак</td>
                      <td><%= Price2 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="41" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="thursday_offer hidden" id="thursdayPack3">
                      <td>Пакет 3</td>
                      <td>Ужин</td>
                      <td><%= Price3 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="42" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="thursday_offer hidden" id="thursdayPack4">
                      <td>Пакет 4</td>
                      <td>Второй завтрак, обед, полдник, ужин</td>
                      <td><%= Price4 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input name="choose" value="43" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="thursday_offer hidden" id="thursdayPack5">
                      <td>Пакет 5</td>
                      <td>Второй завтрак, обед, полдник </td>
                      <td><%= Price5 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="44" name="choose" type="radio" form="mainform"> </div>
                      </td>
                  </tr>
                  <tr class="thursday_offer hidden" id="thursdayPack6">
                      <td>Пакет 6</td>
                      <td>Второй завтрак, обед</td>
                      <td><%= Price6 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="45" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="thursday_offer hidden" id="thursdayPack7">
                      <td>Пакет 7</td>
                      <td>Второй завтрак</td>
                      <td><%= Price7 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="46" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="thursday_offer hidden" id="thursdayPack8">
                      <td>Пакет 8</td>
                      <td>Обед</td>
                      <td><%= Price8 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="47" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="thursday_offer hidden" id="thursdayPack9">
                      <td>Пакет 9</td>
                      <td>Обед</td>
                      <td><%= Price9 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="48" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="thursday_offer hidden" id="thursdayPack10">
                      <td>Пакет 10</td>
                      <td>Полдник</td>
                      <td><%= Price10 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="49" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
				  <tr class="friday_offer hidden" id="fridayPack1">
                      <td>Пакет 1</td>
                      <td>Завтрак, второй завтрак, обед, полдник и ужин</td>
                      <td><%= Price1 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="50" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="friday_offer hidden" id="fridayPack2">
                      <td>Пакет 2</td>
                      <td>Завтрак</td>
                      <td><%= Price2 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="51" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="friday_offer hidden" id="fridayPack3">
                      <td>Пакет 3</td>
                      <td>Ужин</td>
                      <td><%= Price3 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="52" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="friday_offer hidden" id="fridayPack4">
                      <td>Пакет 4</td>
                      <td>Второй завтрак, обед, полдник, ужин</td>
                      <td><%= Price4 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input name="choose" value="53" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="friday_offer hidden" id="fridayPack5">
                      <td>Пакет 5</td>
                      <td>Второй завтрак, обед, полдник </td>
                      <td><%= Price5 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="54" name="choose" type="radio" form="mainform"> </div>
                      </td>
                  </tr>
                  <tr class="friday_offer hidden" id="fridayPack6">
                      <td>Пакет 6</td>
                      <td>Второй завтрак, обед</td>
                      <td><%= Price6 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="55" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="friday_offer hidden" id="fridayPack7">
                      <td>Пакет 7</td>
                      <td>Второй завтрак</td>
                      <td><%= Price7 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="56" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="friday_offer hidden" id="fridayPack8">
                      <td>Пакет 8</td>
                      <td>Обед</td>
                      <td><%= Price8 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="57" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="friday_offer hidden" id="fridayPack9">
                      <td>Пакет 9</td>
                      <td>Обед</td>
                      <td><%= Price9 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="58" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="friday_offer hidden" id="fridayPack10">
                      <td>Пакет 10</td>
                      <td>Полдник</td>
                      <td><%= Price10 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="59" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
				  <!--<tr class="saturday_offer hidden" id="saturdayPack1">
                      <td>Пакет 1</td>
                      <td>Завтрак, второй завтрак, обед, полдник и ужин</td>
                      <td><%= Price1 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="60" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>-->
                  <tr class="saturday_offer hidden" id="saturdayPack2">
                      <td>Пакет 2</td>
                      <td>Завтрак</td>
                      <td><%= Price2 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="61" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <!--<tr class="saturday_offer hidden" id="saturdayPack3">
                      <td>Пакет 3</td>
                      <td>Ужин</td>
                      <td><%= Price3 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="62" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="saturday_offer hidden" id="saturdayPack4">
                      <td>Пакет 4</td>
                      <td>Второй завтрак, обед, полдник, ужин</td>
                      <td><%= Price4 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input name="choose" value="63" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="saturday_offer hidden" id="saturdayPack5">
                      <td>Пакет 5</td>
                      <td>Второй завтрак, обед, полдник </td>
                      <td><%= Price5 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="64" name="choose" type="radio" form="mainform"> </div>
                      </td>
                  </tr>-->
                  <tr class="saturday_offer hidden" id="saturdayPack6">
                      <td>Пакет 6</td>
                      <td>Второй завтрак, обед</td>
                      <td><%= Price6 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="65" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="saturday_offer hidden" id="saturdayPack7">
                      <td>Пакет 7</td>
                      <td>Второй завтрак</td>
                      <td><%= Price7 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="66" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="saturday_offer hidden" id="saturdayPack8">
                      <td>Пакет 8</td>
                      <td>Обед</td>
                      <td><%= Price8 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="67" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <tr class="saturday_offer hidden" id="saturdayPack9">
                      <td>Пакет 9</td>
                      <td>Обед</td>
                      <td><%= Price9 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="68" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>
                  <!--<tr class="saturday_offer hidden" id="saturdayPack10">
                      <td>Пакет 10</td>
                      <td>Полдник</td>
                      <td><%= Price10 %></td>
                      <td>
                          <div class=&nbsp"radio"> <input value="69" name="choose" type="radio" form="mainform">  </div>
                      </td>
                  </tr>-->
                </tbody>
            </table>
          <footer class="footer">
              <form id="mainform" action="answer" method="post">
                  <input type="submit" class="btn btn-lg btn-success" href="#" role="button">
              </form>
          </footer>
          <p>&copy; 19.03.2016, Inc.</p>
          </div>
          <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
       </div>
       <!--<script src = "../mainpage.js" />-->
	   <script>
		   $("li").click(function() {
				$( ".menu" ).removeClass( "active" );
				$( this ).addClass( "active" );
			   	//alert(this.id);
  
			   	$("tr").addClass("hidden");
			   	$("." + this.id + "_offer").removeClass("hidden");
			   	$(".tableHeader").removeClass("hidden");
		   });
	   </script>
	</body>
</html>